pipeline/For_Each_Copy_data_SQLDBTBL-2-SQLDBTBL_WithVariables.json
{
	"name": "For_Each_Copy_data_SQLDBTBL-2-SQLDBTBL_WithVariables",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Dynamic_TBL",
						"type": "DatasetReference",
						"parameters": {
							"schName": "dbo",
							"tblName": "DAILY_COPYLIST"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Dynamic_TBL",
									"type": "DatasetReference",
									"parameters": {
										"schName": {
											"value": "@item().INPUT_SCHEMA",
											"type": "Expression"
										},
										"tblName": {
											"value": "@item().INPUT_TABLENAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Dynamic_TBL",
									"type": "DatasetReference",
									"parameters": {
										"schName": {
											"value": "@item().OUTPUT_SCHEMA",
											"type": "Expression"
										},
										"tblName": {
											"value": "@item().OUTPUT_TABLENAME",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Copied_list",
								"value": {
									"value": "@item().OUTPUT_TABLENAME",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Final_list",
					"value": {
						"value": "@variables('Copied_list')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Copied_list": {
				"type": "Array"
			},
			"Final_list": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-09-24T17:14:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}