pipeline/Variable_Example1.json
{
	"name": "Variable_Example1",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Input_value",
					"value": {
						"value": "1",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Array_List",
					"value": {
						"value": "@variables('Input_value')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Input_value",
					"value": "2"
				}
			},
			{
				"name": "Append variable2",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Array_List",
					"value": {
						"value": "@variables('Input_value')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable2",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Final_List",
					"value": {
						"value": "@variables('Array_List')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Input_value": {
				"type": "String"
			},
			"Array_List": {
				"type": "Array"
			},
			"Final_List": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-09-24T16:55:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}